#main{
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    display: table;
    margin-top: 14vh;
    border-spacing: 10px;
}
.card{
    width: 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    display: inline-block;
}
    .card:after{
        content: "";
    }
    .card .content{
        height: 20vh !important;
        min-height: 20vh !important;
    }